<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="On" defaultRedirect="error.aspx">
		</customErrors>
	</system.web>
  <connectionStrings>
    <add name="SqlConnStr"  connectionString="Data Source=localhost;Initial Catalog=yjs_union;User ID=sa;Password=Itdn2012" />
  </connectionStrings>
</configuration>
